<html lang="en">
<body>

<span <#if task.isCompleted()>style="text-decoration: line-through"</#if>>${task.getDescription()}</span>

<form action="/tasks" class="completeTask" style="display: inline">
    <input type="hidden" name="id" value="${task.getId()}">
    <input type="hidden" name="completed" value="">
    <input type="submit" value="Выполнить">
</form>

<form class="deleteTask" style="display: inline">
    <input type="hidden" name="id" value="${task.getId()}">
    <input type="submit" value="Удалить">
</form>
</body>
</html>

<script>

$(".deleteTask").submit(function(e) {
    e.preventDefault();
    $.ajax({
        type: "DELETE",
        url: "/tasks?id=${task.getId()}",
        success: function() {
        location.reload();
        }
    });
});
</script>