<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${todolist.getTitle()}</title>
</head>
<body>

<div>
    <#include "menu.html">
</div>

<br><br>

<div>${todolist.getTitle()}</div>

<button id="delList">Удалить список</button>

<form style="display: inline;" id="change_title" action="/list?title=${todolist.getTitle()}">
    Новое название: <input type="text" name="newTitle">
    <input type="submit" value="Изменить название">
</form>

<ul>
    <#list todolist.getTasks() as task >
    <li>
        <#include "_taskList.html">
    </li>
</#list>
</ul>

Добавить задачу
<form action="/tasks" id="postTask">
    <input type="hidden" name="title" value="${todolist.getTitle()}" hidden>
    <input type="text" name="description">
    <input type="submit" value="Создать задачу">
</form>

</body>
</html>

<script>
$("#change_title").submit(function(e) {
    e.preventDefault();
    $.ajax({
        type: "PUT",
        url: $("#change_title").attr("action"),
        data: $("#change_title").serialize(),
        success: function() {
            location.href = "/";
        }
    });
});

$(document).ready(function() {
    $("#delList").click(function(){
        $.ajax({
            type: "DELETE",
            url: "/list?title=${todolist.getTitle()}",
            success: function() {
                location.href = "/";
            },
            error: function() {
                alert('Невозможно удалить');
            }
        })
    });
});

$("#postTask").submit(function(e) {
    e.preventDefault();
    $.ajax({
        type: "POST",
        url: $(this).attr("action"),
        data: $(this).serialize(),
        success: function() {
            location.reload();
        }
    });
});

$(".completeTask").submit(function(e) {
    console.log("Sending put");
    $.ajax({
        type: "PUT",
        url: $(this).attr("action"),
        data: $(this).serialize(),
        success: function() {
            location.reload();
        }
    });
});
</script>