<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>${todolist.getTitle()}</title>
</head>
<body>

<div>
    <#include "menu.html">
</div>

<br><br>

${todolist.getTitle()}
<button id="delList">Удалить список</button>
<ul>
    <#list todolist.getTasks() as task >
    <li>
        ${task.getDescription()}
    </li>
</#list>
</ul>

</body>
</html>

<script>
$(document).ready(function() {
    $("#delList").click(function(){
        $.ajax({
            type: "DELETE",
            url: "/list?title=${todolist.getTitle()}",
            success: function() {
                location.href = "/";
            },
            error: function() {
                alert('Невозможно удалить');
            }
        })
    });
});
</script>