<html lang="en">
<body>
Планы
<ul>
    <li><a href="/tasks?filter=all">Все задачи</a></li>
    <li><a href="/tasks?filter=today">Сегодня</a></li>
    <li><a href="/tasks?filter=soon">Ближайшие</a></li>
</ul>

Списки
<ul>
<#list user.getToDoLists() as todolist>
    <li>
        <a href="/list?title=${todolist.getTitle()}">Дела</a>
    </li>
</#list>
</ul>

<br>
<div>
    Сменить имя
    <form id="change_name" action="/profile">
        Новое имя: <input type="text" name="name">
        <input type="submit" value="Сменить имя">
    </form>
</div>

<br>

<div>
    Сменить пароль
    <form id="change_pass" action="/profile">
        Новый пароль: <input type="text" name="password">
        <input type="submit" value="Сменить имя">
    </form>
</div>

</body>
</html>

<script>
$("#change_name").submit(function(e) {
    e.preventDefault();
    $.ajax({
        type: "PUT",
        url: $("#change_name").attr("action"),
        data: $("#change_name").serialize(),
        success: function() {
            location.reload();
        }
    });
});

$("#change_pass").submit(function(e) {
    e.preventDefault();
    $.ajax({
        type: "PUT",
        url: $("#change_pass").attr("action"),
        data: $("#change_pass").serialize(),
        success: function() {
            location.reload();
        }
    });
});
</script>