<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to ToDoList</title>
    <link rel="stylesheet" href="../styles/startPage.css">
</head>
<body>

    <div class="banner-area">
        <header>

            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </header>
    </div>

        <div class="banner-text">
<!--            <h2>Web-service</h2>-->
            <a href="#">Sign In</a>
            <a href="#">Sign Up</a>
        </div>
    </div>
</body>
</html>