<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoList - Планы и задачи</title>
</head>
<body>
<div>
    <#include "menu.html">
</div>

<br>

<div>
    Пользователь: ${user.getEmail()}
</div>

<br><br>

<form action="/profile/logout" method="post">
    <button type="submit">Выйти</button>
</form>
<br>
<button id="delUser">Удалить пользователя</button>

<br>

<ul>
<#list taskList as elem>
    <li>
        ${elem.getDescription()}
    </li>
</#list>
</ul>

</body>
</html>

<script>
$(document).ready(function() {
    $("#delUser").click(function(){
        $.ajax({
            type: "DELETE",
            url: "/profile",
            success: function() {
                location.href = "/";
            }
        })
    });
});
</script>