<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoList - Планы и задачи</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<div>
    Пользователь: ${user.getName()}
</div>
<br>
<br>

<form action="/profile/logout" method="post">
    <button type="submit">Выйти</button>
</form>
<br>
<button id="delUser">Выйти и удалить пользователя</button>
<br>
<br>
<div>
    <#include "menu.html">
</div>
<br>
<ul>
<#list taskList as elem>
    <li>
        ${elem.getDescription()}
        <br>
        ${elem.getOrderNumber()}
    </li>
</#list>
</ul>

</body>
</html>

<script>
$(document).ready(function() {
    $("#delUser").click(function(){
        $.ajax({
            type: "DELETE",
            url: "/profile",
            success: function() {
                location.href = "/";
            }
        })
    });
});
</script>