<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoList - Планы и задачи</title>
</head>
<body>
<div>
    <#include "menu.html">
</div>


<ul>
<#list taskList as task>
    <li>
        <#include "_taskList.html">
    </li>
</#list>
</ul>

</body>
</html>

<script>
$(".completeTask").submit(function(e) {
    e.preventDefault();
    console.log("Sending put");
    $.ajax({
        type: "PUT",
        url: $(this).attr("action"),
        data: $(this).serialize(),
        success: function() {
            location.reload();
        }
    });
});

</script>